.mybg {
	/*background: linear-gradient(-45deg, #ee7752, #dfd0d6, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;*/
  
   background:white; 
}
.font-google-logo {
    font-family: 'Great Vibes', cursive;
    font-size: small;
}
.mywdbody {
	height: calc(90vh);
}


.zeroMargins {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
  margin-left: 0px;
    
}
.imgSizePosterMovie {
  width: 100px;
}
